-r devices/XPS/XPSRequirements.txt
-r devices/XGS600/XGSRequirements.txt
-r devices/NewportPicomotor/picoRequirements.txt
-r devices/Iris/IrisRequirements.txt
numpy==2.0.0
pylablib==1.4.3
PyQt5==5.15.10
PyQt5_sip==12.13.0
pyserial==3.5